<section class="main">
    <h1>Luo kappale</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.admin_index_path(@conn, :create)) %>

    <span><%= link "Takaisin", to: Routes.index_path(@conn, :index) %></span>
</section>
