<section class="main">
  <h1>Kappaleen tiedot</h1>

  <ul>

    <li>
      <strong>Sisältö:</strong>
      <%= @index.content %>
    </li>

    <li>
      <strong>Prioriteetti:</strong>
      <%= @index.seqnum %>
    </li>

  </ul>

  <span><%= link "Muokkaa", to: Routes.admin_index_path(@conn, :edit, @index) %></span>
  <span><%= link "Takaisin", to: Routes.index_path(@conn, :index) %></span>
</section>
