<section class="text">
    <h2>Ilmoittautumisesi on rekisteröity. </h2>
    <h1>Tervetuloa mukaan!</h1>
    <h3>Tapahtuman järjestäjät ovat teihin yhteydessä sähköpostilla tarpeen mukaan.</h3>
</section>
