<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Runosaari</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Crimson+Text"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header >
      <nav class="main-nav-bar" role="navigation">
        <%= link "Etusivu", to: Routes.index_path(@conn, :index) %>
        <%= link "Ohjelma", to: Routes.performance_path(@conn, :index) %>
        <%= link "Esiintyjät", to: Routes.performer_path(@conn, :index) %>
        <%= link "Info", to: Routes.page_path(@conn, :info) %>
        <%= link "Covid-19", to: Routes.page_path(@conn, :covid19) %>
        <%= link "Ilmoittautuminen", to: Routes.visitor_path(@conn, :new) %>
      </nav>
      <h1 class="mobile-main-title">
        <a href="/#logo-container">Runosaari 2021</a>
      </h1>
      <nav class="mobile-main-nav-bar" id="nav-bar">
        <%= link "Etusivu", to: "#{Routes.index_path(@conn, :index)}#logo-start" %>
        <%= link "Ohjelma", to: "#{Routes.performance_path(@conn, :index)}#calendar-start" %>
        <%= link "Esiintyjät", to: "#{Routes.performer_path(@conn, :index)}#performers-start" %>
        <%= link "Info", to: "#{Routes.page_path(@conn, :info)}#contact-start" %>
        <%= link "Covid-19", to: "#{Routes.page_path(@conn, :covid19)}#covid-start" %>
        <%= link "Ilmoittautuminen", to: "#{Routes.visitor_path(@conn, :new)}#registration-start" %>
      </nav>
    </header>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <footer>
      <div class="mobile-middle">
        <a href="/#nav-bar"><img src="<%= Routes.static_path(@conn, "/images/small-logo.png") %>" /></a>
      </div>
      <div class="container">
        <div class="left">
          Livonsaari & Velkua<br />
          Naantalin saaristo<br />
        </div>
        <div class="middle">
          <a href="/#nav-bar"><img src="<%= Routes.static_path(@conn, "/images/small-logo.png") %>" /></a>
        </div>
        <div class="right">
          Inkeri Aula <br />
          Katariina Vuorinen <br />
          <a class="generic-link" href="mailto:info@runosaari.net"
            >info@runosaari.net</a
          >
        </div>
      </div>
      <div class="credits">
        <a href="https://github.com/codevictory/runosaari.net"
          >lähdekoodi</a
        >
        | by codevictory
      </div>
    </footer>
  </body>
</html>
