<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Runosaari · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Crimson+Text"
    />
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header >
        <nav class="nav" role="navigation">
          <%= link "Etusivu", to: Routes.page_path(@conn, :index) %>
          <%= link "Esiintyjät", to: Routes.performer_path(@conn, :index) %>
          <%= link "Ohjelma", to: Routes.performance_path(@conn, :index) %>
          <%= link "Ilmoittautuminen", to: Routes.performer_path(@conn, :new) %>
        </nav>
    </header>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <footer>
      <div class="container">
        <div class="left">
          Livonsaari <br />
          Naantali <br />
          20. - 21.7.2021
        </div>
        <div class="middle"><img src="<%= Routes.static_path(@conn, "/images/small-logo.png") %>" alt="Pieni logo" /></div>
        <div class="right">
          Sdfas Asdinen <br />
          Esiintyjä Aasfdas <br />
          Asdf Esiintyjä
        </div>
      </div>
    </footer>
  </body>
</html>
