form {
  display: flex;
  flex-direction: column;
  max-width: 50%;

  .checkbox-container {
    display: flex;
    align-items: baseline;

    label {
      text-align: left;
      padding-left: 5px;
    }

    &.consent-checkbox {
      font-style: italic;
      padding-top: 30px;
    }
  }

  .text-input {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 0;

    label {
      width: 29%;
      text-align: left;
    }

    input {
      width: 71%;
    }

    @media screen and (max-width: 600px) {
      label {
        width: 47%;
      }
    }
  }

  .confirmed-input {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .submit-button {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  i {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }
}
