form {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
}

input {
  margin-bottom: 10px;
}

.confirmed-input {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
