section.logo {
  width: 80%;
  max-width: 1000px;
  background-color: #d5caf2;
  border-radius: 3px;
  padding-top: 3px;

  &::after {
    content: '@Sanna Hukkanen';
    font-size: 90%;
    text-align: right;
    position: relative;
    left: 88%;
  }

  img {
    width: 100%;
  }
}

section.text {
  width: 80%;
  max-width: 1000px;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #d5caf2);
  text-align: center;

  p {
    padding: 0px 20px;
  }
}
