<h1>Edit Performer</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.performer_path(@conn, :update, @performer)) %>

<span><%= link "Back", to: Routes.performer_path(@conn, :index) %></span>
