<h1>Muokkaa esiintyjän tietoja</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_performer_path(@conn, :update, @performer)) %>

<span><%= link "Takaisin", to: Routes.performer_path(@conn, :index) %></span>
