<section class="main">
<h1 id="performers-start">Esiintyjät</h1>

<%= if length(@performers) == 0 do %>
  <i>Lisätietoja tulossa myöhemmin!</i>
<% end %>
<%= for performer <- @performers do %>
  <h2><%= performer.fname %> <%= performer.lname %></h2>
  <p><%= performer.desc %></p>
<% end %>

</section>
