<h1>Esiintyjät</h1>

<%= for performer <- @performers do %>
  <%= if performer.confirmed == true do %>
    <article>
          <h2><%= performer.fname %> <%= performer.lname %></h2>
          <p><%= performer.notes %></p>
    </article>
  <% end %>
<% end %>

<%= link "Hallinta", to: Routes.admin_performer_path(@conn, :admin) %>
