<section class="main">
<h1 id="covid-start">Covid-19-lauseke</h1>
<p>
    Järjestämme tilaisuuden voimassa olevien säädösten ja ohjeiden mukaan.
    Jotta yleisömäärää voidaan tarpeen vaatiessa rajata, koko tapahtumaan
    pyydetään ilmoittautumaan etukäteen. Työpajoihin ilmoittaudutaan
    erikseen. Tarkistamme koronatilanteen kesäkuun alussa, jolloin
    päätämme, missä muodossa tapahtuma järjestetään. Varaudumme siihen,
    että ohjelmaan voi tulla myös viime hetken peruutuksia. Tapahtuman
    konsepti mahdollistaa joka tapauksessa sen järjestämisen ulkotiloissa,
    pienissä ryhmissä ja turvavälein: työpajat pidetään ulkona tai
    ilmastoiduissa tiloissa ja lavaesityksiä voi seurata myös
    etälähetyksenä.
</p>
</section>
