html {
  overflow-x: hidden;
}

body {
  font-family: 'Crimson Text', sans-serif;
  color: #2f273e;
  font-size: 1.1rem;
  margin: 0px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #d5caf2;
    overflow-x: hidden;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    display: flex;
    justify-content: center;

    a {
      padding: 15px;
      color: #2f273e;
      text-decoration: none;
    }

    a:hover {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #d5caf2);
      text-decoration: underline;
    }

    @media screen and (max-width: 600px) {
      a {
        width: 100%;
        padding: 0px;
        text-align: center;
        text-decoration: underline;
        font-size: 1.5rem;
        margin-bottom: 4px;
      }
    }

    &.mobile-main-nav-bar {
      visibility: hidden;
      height: 0px;
    }

    @media screen and (max-width: 600px) {
      &.mobile-main-nav-bar {
        height: auto;
        display: flex;
        visibility: visible;
        flex-direction: column;
        align-items: center;
        background-color: #d5caf2;
        width: 80%;
        margin-bottom: 30px;
      }

      &.main-nav-bar {
        visibility: hidden;
        height: 0px;
      }
    }
  }

  .mobile-main-title {
    visibility: hidden;
    height: 0px;
    margin: 0px;
  }

  @media screen and (max-width: 600px) {
    .mobile-main-title {
      visibility: visible !important;
      height: 100% !important;
      margin-top: 30px !important;
      margin-bottom: 30px !important;
      text-align: center;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: start;

    .middle {
      margin-right: 5.4rem;
    }
    
    .middle img {
      max-width: 55px;
      margin-top: 10px;
    }

    .right {
      text-align: right;
    }
  }

  .mobile-middle {
    visibility: hidden;

    img {
      max-width: 55px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    .container {
      width: 95% !important;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;

      div {
        text-align: center !important;
      }

      .middle {
        visibility: hidden;
        max-height: 15px;
      }
    }

    .mobile-middle {
      visibility: visible;
    }
  }
}

a {
  color: #2f273e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  text-align: left;
  max-width: 44%;
}

@media screen and (max-width: 600px) {
  ul {
    max-width: 90% !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-shadow: 3px 3px 3px #ababab;
}

h1 {
  font-size: 3rem;
}

p {
  text-align: justify;
}
