section.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #d5caf2);
  text-align: center;
  border-radius: 3px 3px 0px 0px;

  p {
    padding: 0px 20px;
    max-width: 56%;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    p {
      max-width: none;
    }
  }

  .link-back {
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
  }
}

section.logo ~ section.main {
  border-radius: 0px;
}

.generic-link {
  color: blue;
  text-decoration: underline;
}

hr {
  width: inherit;
}
