<h1>Edit Performance</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.performance_path(@conn, :update, @performance)) %>

<span><%= link "Back", to: Routes.performance_path(@conn, :index) %></span>
