<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Jokin kentistä on tyhjä.</p>
    </div>
  <% end %>

  <%= label f, :name, "Nimi" %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :desc, "Seloste" %>
  <%= textarea f, :desc %>
  <%= error_tag f, :desc %>

  <div>
    <%= submit "Tallenna" %>
  </div>
<% end %>
