<h1>Luo näytös</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_performance_path(@conn, :create)) %>

<span><%= link "Takaisin", to: Routes.performance_path(@conn, :index) %></span>
