<h1>Show Performance</h1>

<ul>

  <li>
    <strong>Time:</strong>
    <%= @performance.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @performance.desc %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_performance_path(@conn, :edit, @performance) %></span>
<span><%= link "Back", to: Routes.performance_path(@conn, :index) %></span>
