<section class="main">
  <h1>Näytöksen tiedot</h1>

  <ul>

    <li>
      <strong>Nimi:</strong>
      <%= @performance.name %>
    </li>

    <li>
      <strong>Seloste:</strong>
      <%= @performance.desc %>
    </li>

  </ul>

  <span><%= link "Muokkaa", to: Routes.admin_performance_path(@conn, :edit, @performance) %></span>
  <span><%= link "Takaisin", to: Routes.admin_performance_path(@conn, :admin) %></span>
</section>
