<h1>Muokkaa työpajan tietoja</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_workshop_path(@conn, :update, @workshop)) %>

<span><%= link "Takaisin", to: Routes.admin_workshop_path(@conn, :admin) %></span>
