<section class="main">
    <h1>Muokkaa kappaletta</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.admin_info_path(@conn, :update, @info)) %>

    <span><%= link "Takaisin", to: Routes.admin_info_path(@conn, :admin) %></span>
</section>
