<section class="main">
    <h1 id="contact-start">Info</h1>
    <i>[Tietoja päivitetään]</i>
    <%= for info <- @info_paragraphs do %>
      <p><%= info.content %></p>
    <% end %>
    <h2>SURVIVAL-ohjeet saariston syrjäseudulle</h2>
    <ul>
    <%= for survival <- @survival_items do %>
        <li>
            <%= survival.content %>
            <%= if survival.link != nil do %>
                <a href="https://<%= survival.link %>" class="generic-link"><%= survival.link %></a>
            <% end %>
        </li>
    <% end %>
    </ul>
</section>
