<h1>Uusi info kappale</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_info_path(@conn, :create)) %>

<span><%= link "Takasin", to: Routes.admin_info_path(@conn, :admin) %></span>
