<section class="main">
  <h1>Kappaleen tiedot</h1>

  <ul>

    <li>
      <strong>Sisältö:</strong>
      <%= @info.content %>
    </li>

    <li>
      <strong>Prioriteetti:</strong>
      <%= @info.seqnum %>
    </li>

  </ul>

  <span><%= link "Muokkaa", to: Routes.admin_info_path(@conn, :edit, @info) %></span>
  <span><%= link "Takaisin", to: Routes.admin_info_path(@conn, :admin) %></span>
</section>
